#accordion
  -@pokemon.each.with_index do |(pokemon, count), i|

    .card
      .card-header{id: "heading-#{i}"}
        %h5.mb-0
          %button.btn.btn-link{aria: {controls: "collapse-#{i}", expanded: "true"}, data: {target: "#collapse-#{i}", toggle: "collapse"}}
            =pokemon
            %span.badge.badge-secondary=count
          %span.float-right.octicon.octicon-arrow-dpwm
      .collapse{id: "collapse-#{i}", "aria-labelledby" => "heading-#{i}", "data-parent" => "#accordion"}
        ="heat"
