#accordion
  -@pokemon.each do |pokemon|
    -id = pokemon["name"].parameterize
    .card{id: id}
      .card-header{id: "heading-#{id}"}
        %h5.mb-0{aria: {controls: "collapse-#{id}", expanded: "true"}, data: {target: "#collapse-#{id}", toggle: "collapse"}}
          .btn.btn-link
            =pokemon["name"]
            %span.badge.badge-secondary=pokemon["count"]
          %span.float-right.octicon.octicon-arrow-dpwm
      .collapse{id: "collapse-#{id}", "aria-labelledby" => "heading-#{id}", "data-parent" => "#accordion"}
        %table.table
          %thead
            %tr
              %th Ingredients
              %th Recipie
              %th Rarity
              %th Attracts
              %th Percent
          %tbody
            -for recipie in pokemon["details"]
              %tr{class: (recipie.percent == pokemon["max_percent"]) ? "table-primary" : ""}
                %td=recipie.ingredients.join("<br>")
                %td
                  %a{href: recipie_path(recipie.name.parameterize)}
                    =recipie.name
                %td=recipie.rarity
                %td=recipie.attracts
                %td=recipie.percent